<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Description" content="">
        <meta name="Author" content="PywE">
        <meta name="keywords" content="" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="/static/images/brand/logo.svg" type="image/x-icon" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/brand/logo.svg" />
    
        <!-- Title -->
        <title>POP Ghana | New Session</title>
      
        <!-- Bootstrap Css -->
        <link href="/static/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    
        <!-- Dashboard Css -->
        <link href="/static/css/style.css" rel="stylesheet" />
    
        <!-- Font-awesome  Css -->
        <link href="/static/css/icons.css" rel="stylesheet" />
    
        <!--Horizontal Menu-->
        <link href="/static/plugins/horizontal/horizontal-menu/animation/fade-down.css" rel="stylesheet" />
        <link href="/static/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet" />
    
        <!--Select2 Plugin -->
        <link href="/static/plugins/select2/select2.min.css" rel="stylesheet" />
    
        <!-- Owl Theme css-->
        <link href="/static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />
    
        <!-- Cookie css -->
        <link href="/static/plugins/cookie/cookie.css" rel="stylesheet">
    
        <!--Semantic UI css-->
        <link rel="stylesheet" href="/static/plugins/Semantic-UI-CSS/semantic.min.css">
    
        <!-- Custom scroll bar css-->
        <link href="/static/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    
        <!-- COLOR-SKINS -->
        <link id="theme" rel="stylesheet" type="text/css" media="all" href="/static/color-skins/color-skins/color10.css" />
    </head>
    <body>
        <!--Sliders Section-->
	<section>
		<div class="bannerimg cover-image bg-background3" data-image-src="/static/images/banners/banner2.jpg">
			<div class="header-text mb-0">
				<div class="container">
					<div class="text-center text-white">
						<h1>Create a new session</h1>

						<ol class="breadcrumb text-center">
                            <!-- <li class="breadcrumb-item">User <strong app-variable="username"></strong><span class="divider">/</span></li> -->
                            <li class="breadcrumb-item"><a href="campaign_list.html">Campaign List</a> <span class="divider"></span></li>
							<li class="breadcrumb-item"><a
									href="/campaigns/templates/campaigns/observation_session.html">Observation
									Session</a>
                            </li>
                            <li class="breadcrumb-item"><a href="observation_session.html"><span id="global_name" app-variable="campaign-name-pretty"></span></a><span class="divider"></span></li>
							<li class="breadcrumb-item active text-white" aria-current="page">New session</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!--/Sliders Section-->
    		<!--new-session-Section-->
		<div class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
						<div class="single-page w-100 p-0" >
							<div class="wrapper wrapper2">
								<form id="newSession" onsubmit="saveSess()" class="card-body" method="dialog">
                                    <input type="hidden" name="campaign" value="" app-variable="campaign-id"/>

									<span class="m-4 d-none d-lg-block text-center">
										<span class="text-dark"><strong id="username" app-variable="username"></strong></span>
									</span>
									<div class="controls">
										<input id="name" type="text" required name="session_name">
										<label>Name</label>
                                    </div>
                                    <div class="form-actions">
                                    <button type="submit" class="btn btn-secondary mb-sm-0 btn-block"><i class="icon-download-alt icon-white"></i>Save session</button>
                                </div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/new-session-Section-->

		<!-- Back to top -->
		<a href="#top" id="back-to-top" ><i class="fa fa-arrow-up"></i></a>

		<!-- JQuery js-->
		<script src="/static/js/vendors/jquery-3.2.1.min.js"></script>

		<!-- Bootstrap js -->
		<script src="/static/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
		<script src="/static/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

		<script src="/static/js/dexie.js"></script>

		

		<!--JQuery Sparkline Js-->
		<script src="/static/js/vendors/jquery.sparkline.min.js"></script>

		<!-- Circle Progress Js-->
		<script src="/static/js/vendors/circle-progress.min.js"></script>

		<!-- Star Rating Js-->
		<script src="/static/plugins/rating/jquery.rating-stars.js"></script>

		<!--Owl Carousel js -->
		<script src="/static/plugins/owl-carousel/owl.carousel.js"></script>

		<!--Horizontal Menu-->
		<script src="/static/plugins/horizontal/horizontal-menu/horizontal.js"></script>

		<!--JQuery TouchSwipe js-->
		<script src="/static/js/jquery.touchSwipe.min.js"></script>

		<!--Select2 js -->
		<script src="/static/plugins/select2/select2.full.min.js"></script>
		<script src="/static/js/select2.js"></script>

		<!-- Cookie js -->
		<script src="/static/plugins/cookie/jquery.ihavecookies.js"></script>
		<script src="/static/plugins/cookie/cookie.js"></script>

		<!-- Count Down-->
		<script src="/static/plugins/count-down/jquery.lwtCountdown-1.0.js"></script>

		<!-- Custom scroll bar Js-->
		<script src="/static/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- sticky Js-->
		<script src="/static/js/sticky.js"></script>

		<!-- Scripts Js-->
		<script src="/static/js/scripts2.js"></script>

		<!-- Custom Js-->
		<script src="/static/js/custom.js"></script>

<script>
    function saveSess() {
        localStorage.setItem('session',document.getElementById("name").value)
        localStorage.setItem('session_date', new Date().toLocaleString())
        if((localStorage.getItem('pharmacy_name') == null) == true){
            window.location.href = "/campaigns/templates/campaigns/new-pharmacy.html"
        }
        else {
            
            window.location.href = "/campaigns/templates/campaigns/new-basket.html"
        }
        
    }
</script>

        <script>
            window.onload = function Load(){
                if(isLoggedIn()){
                      //redirect user to campaign list or last page
                    //Get user's country and fetch appropriate list
                    fetchCampaigns()
                    document.getElementById("global_name").innerHTML = localStorage.getItem('campaign')
                }
                else{
                      //user must login
                    window.location.href = "/accounts/login/"
                }
            }
       </script>
       <script src="/static/js/campaign.js"></script>
       <script src="/static/js/login.js"></script>
    </body>
</html>
