<!DOCTYPE html>
<html>
{% load pwa %}
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Description" content="">
        <meta name="Author" content="PywE">
        <meta name="keywords" content="" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="/static/images/brand/logo.svg" type="image/x-icon" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/brand/logo.svg" />
{% progressive_web_app_meta %}
        <!-- Title -->
        <title>POP Ghana | Campaign List</title>

        <!-- Bootstrap Css -->
        <link href="/static/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Dashboard Css -->
        <link href="/static/css/style.css" rel="stylesheet" />

        <!-- Font-awesome  Css -->
        <link href="/static/css/icons.css" rel="stylesheet" />

        <!-- Custom scroll bar css-->
        <link href="/static/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

        <!-- COLOR-SKINS -->
        <link id="theme" rel="stylesheet" type="text/css" media="all" href="/static/color-skins/color-skins/color10.css" />
    </head>

<body>
    <!--Sliders Section-->
<section>
	<div class="bannerimg cover-image bg-background3" data-image-src="/static/images/banners/banner2.jpg">
		<div class="header-text mb-0">
			<div class="container">
				<div class="text-center text-white">
					<h1 class="">Campaign List</h1>
					<ol class="breadcrumb text-center">
                        <li class="breadcrumb-item">User <strong id="username" app-variable="username"></strong></li>
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active text-white" aria-current="page">Campaign List</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/Sliders Section-->
    <div class="container">
                <br><br><h3>
                    <a onclick="fetchCampaigns()" id="syncCampaigns" class="btn btn-secondary mb-sm-0" style="color:white;"><i class="icon-refresh"></i>&nbsp;Update Campaign List</a></h3>
                <div class="tab-pane  table-responsive border-top userprof-tab">
                <table class="table table-bordered table-hover mb-0 text-nowrap">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Campaign</th>
                            <th>Status</th>
                            <th>Last Download</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="campaignList">
                    </tbody>
                </table>
                </div>
            </div>
    <script>
        window.onload = function Load() {
            if(isLoggedIn()){
              //redirect user to campaign list or last page
            //Get user's country and fetch appropriate list
            fetchCampaigns()
            }
            else{
            //   user must login
            window.location.href = "/accounts/login/"
            }
        }
    </script>
    <script src="/static/js/dexie.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/campaign.js"></script>
    <script src="/static/js/login.js"></script>
    <!-- <script>
        window.onload = function Load(){
            if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Blackberry/i) || navigator.userAgent.match(/WebOs/i)) { // detect mobile browser
            window.location.replace("https://gigship.pywe.org/registration/"); // redirect if mobile browser detected
          }
        }
        </script> -->


        <!-- Back to top -->
        <a href="#top" id="back-to-top" ><i class="fa fa-arrow-up"></i></a>

        <!-- JQuery js-->
        <script src="/static/js/vendors/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap js -->
        <script src="/static/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
        <script src="/static/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>


        <!-- Custom Js-->
        <script src="/static/js/custom.js"></script>


        <script>
            </script>





</body>

</html>
