<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Description" content="">
        <meta name="Author" content="PywE">
        <meta name="keywords" content="" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="/static/images/brand/logo.svg" type="image/x-icon" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/brand/logo.svg" />

        <!-- Title -->
        <title>POP Ghana | New Session</title>

        <!-- Bootstrap Css -->
        <link href="/static/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Dashboard Css -->
        <link href="/static/css/style.css" rel="stylesheet" />

        <!-- Font-awesome  Css -->
        <link href="/static/css/icons.css" rel="stylesheet" />

        <!--Semantic UI css-->
        <link rel="stylesheet" href="/static/plugins/Semantic-UI-CSS/semantic.min.css">

        <!-- Custom scroll bar css-->
        <link href="/static/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

        <!-- COLOR-SKINS -->
        <link id="theme" rel="stylesheet" type="text/css" media="all" href="/static/color-skins/color-skins/color10.css" />
    </head>
    <body>
        <!--Sliders Section-->
	<section>
		<div class="bannerimg cover-image bg-background3" data-image-src="/static/images/banners/banner2.jpg">
			<div class="header-text mb-0">
				<div class="container">
					<div class="text-center text-white">
						<h1>Create a new session</h1>

						<ol class="breadcrumb text-center">
                            <!-- <li class="breadcrumb-item">User <strong app-variable="username"></strong><span class="divider">/</span></li> -->
                            <li class="breadcrumb-item"><a href="campaign_list.html">Campaign List</a> <span class="divider"></span></li>
							<li class="breadcrumb-item"><a
									href="/campaigns/observation-sessions/">Observation
									Sessions</a>
                            </li>
                            <li class="breadcrumb-item"><a href="campaigns/observation-sessions/"><span id="global_name" app-variable="campaign-name-pretty"></span></a><span class="divider"></span></li>
							<li class="breadcrumb-item active text-white" aria-current="page">New session</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!--/Sliders Section-->
    		<!--new-session-Section-->
		<div class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
						<div class="single-page w-100 p-0" >
							<div class="wrapper wrapper2">
								<form id="newSession"  class="card-body">
                                    <input type="hidden" name="campaign" value="" app-variable="campaign-id"/>

									<span class="m-4 d-none d-lg-block text-center">
										<span class="text-dark"><strong id="username" app-variable="username"></strong></span>
									</span>
									<div class="controls">
										<input id="name" type="text" required name="session_name">
										<label>Name</label>
                                    </div>
                                    <div class="form-actions">
                                    <button type="button" onclick="saveSess()" class="btn btn-secondary mb-sm-0 btn-block"><i class="icon-download-alt icon-white"></i>Save session</button>
                                </div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/new-session-Section-->

		<!-- Back to top -->
		<a href="#top" id="back-to-top" ><i class="fa fa-arrow-up"></i></a>

		<!-- JQuery js-->
		<script src="/static/js/vendors/jquery-3.2.1.min.js"></script>

		<!-- Bootstrap js -->
		<script src="/static/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
		<script src="/static/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

		<script src="/static/js/dexie.js"></script>


		<!-- Custom Js-->
		<script src="/static/js/custom.js"></script>

<script>
    function saveSess() {
        localStorage.setItem('baskCounter',0)
        localStorage.setItem('currsession',document.getElementById("name").value)
        localStorage.setItem('session_date',new Date().toLocaleString())
        var dsession = { session_name: document.getElementById("name").value, baskIds:[], basket_count: parseInt(localStorage.getItem("baskCounter")), date_started: new Date().toLocaleString(), status: "Local", date_finished: "Not Finished" }
        db.sessions.put(dsession)
        if((localStorage.getItem('pharmacy_name') == null) == true){
            $('body')
                .toast({
                    title: 'Sorry',

                    message: 'No Pharmacy Created yet!',
                    class: 'orange',
                    className: {
                        toast: 'ui big message'
                    }
                });
            window.location.assign("/campaigns/new-pharmacy/");
        }
        else {

            window.location.assign("/campaigns/new-basket/")
        }

    }
</script>

        <script>
            window.onload = function Load(){
                if(isLoggedIn()){
                      //redirect user to campaign list or last page
                    //Get user's country and fetch appropriate list
                    // fetchCampaigns()
                    document.getElementById("global_name").innerHTML = localStorage.getItem('campaign')
                }
                else{
                      //user must login
                    window.location.href = "/accounts/login/"
                }
            }
       </script>
       <script src="/static/js/login.js"></script>
       <script src="/static/js/campaign.js"></script>
    </body>
</html>
